<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- SITE TITLE -->
<title>University Clinic Booking</title>



<link rel="stylesheet" type="text/css" href="css/master.css" />

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- =========================
     TOP BAR
============================== -->   
<div class="top-bar" id="top-bar">
    <div class="container">
        <div class="row">				
			
            <!-- TOP BAR RIGHT -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">               
                <div class="top-bar-mail">
                    <i class="fa fa-user"></i> <a href="/logout">Logout</a>
                </div>
			</div>
			
		</div>
	</div>
</div>
<!-- =========================
     END TOP BAR   
============================== -->
    
    
<!-- =========================
     HEADER
============================== -->    
<div class="header" id="header">
    <div class="container">
        <div class="row">
            
            <!-- HEADER LOGO -->
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="header-logo">
                    <a href="#">
                        <span class="bold700 color-child-6">UNIVERSITY  </span><span class="color-child-5">CLINIC</span>
                    </a>
                </div>
			</div>
			
            <!-- HEADER BUTTONS -->
			<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="header-button">
                    <a href="#bookform1" class="fancybox-2 btn btn-default"><span class="plus">+</span> Download Mobile App</a>
                </div>
                <div class="header-phone"> 
                    <i class="fa fa-phone"></i> +2348090934082
                </div>
			</div>

			
		</div>
	</div>
</div>
<!-- =========================
     END HEADER
============================== -->
    
    
<!-- =========================
     MAIN MENU
============================== -->   
<div class="top-menu" id="top-menu">
    <div class="container">
        <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-bar-cont">
                    <div class="top-menu-logo">
                        <a href="#"><img src="images/logo.svg" alt="" />
                            <span class="bold600 color-child-6">DENTAL</span><span class="color-child-5">CLINIC</span>
                        </a>
                    </div>
                    <div class="mobile-bar">
                        <div class="show-menu" id="show-menu">
                            <i class="fa fa-bars"></i>
                        </div>                       
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/portal">Home</a></li>                    
                </ul>
            </div>
		</div>
	</div>
</div>
<!-- =========================
     END MAIN MENU
============================== -->    
 

 
<!-- =========================
     CERTIFICATES
============================== --> 
<div class="certs">
    <div class="container">
        <div class="row">
            <form method="post" action="/search"> 
             <div class="row">
                        <div class="col-md-5 col-xs-10 col-xs-offset-1 booking-form-item search">
                            <input type="text" name="name" id="search_term" data-validation="required" placeholder="Search by Card No / Reference No" />
                        </div>
                        <div style="margin-top: 8px" class="col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1 booking-form-item">
                            <input type="submit" name="submit" class="btn btn-primary" value="Search" />
                        </div>
                    </div>                  
                    
                </form>            
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped">
                            <thead>
                                <tr class="success">
                                    <th>Booking Ref. No</th>
                                    <th>Card No</th>
                                    <th>Phone Number</th>                                 
                                    <th>Appointment Time</th>                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="students">                               
                                 <% if(data != null){                                 
                                     for(var i = 0;i < data.length;i++) { %>                 
                                    <tr>
                                        <td><%=data[i].verification_code%></td>
                                        <td><%=data[i].card_no%></td>
                                        <td><%=data[i].phone_no%></td>
                                        <td><%=data[i].arrival_time%></td>
                                        <td>
                                            <a class="header-button" href="/attended?ref=<%=data[i].verification_code%>">Attended To</a>                    
                                        </td>
                                    </tr>
                                <% }
                                
                                 }else{ %>
                                     <tr>
                                        <td colspan="3">No user</td>
                                     </tr>
                                <% } %>
                
                            </tbody>
                        </table>            
            </div>
        </div>
    </div>
</div>
<!-- =========================
     END CERTIFICATES
============================== -->
    


<div class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-matchheight">
                <div class="row">                    
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
                            <div class="text-center">
                                Copyrights 2017 | All rights reserved
                            </div>
                        </div>
                </div>
                
        </div>
    </div>
</div>
<!-- =========================
    END FOOTER
============================== -->



<div class="totop" id="totop">
    <i class="fa fa-angle-up"></i>
</div>
    

    
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
    
<!-- =========================
     SCRIPTS   
============================== -->	
<!-- JQUERY -->
<script src="js/jquery-2.2.0.min.js"></script>

<!-- BOOTSTRAP -->
<script src="js/bootstrap.min.js"></script>


</body>

</html>